
.header{
  background-color: rgb(10, 10, 10);
  padding:20px;
 
}
.header a{
  text-decoration: none;
  margin-right: 15px;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
}
.header a:hover{
  background-color: rgb(43, 255, 131);
  color: black;
  
}
.active{
  background-color: rgb(177, 112, 194);
  
}